@keyframes blinkMy {

    0%,
    100% {
        color: #2563eb;
    }

    /* biru */
    50% {
        color: #ec4899;
    }

    /* pink */
}

@keyframes blinkDompet {

    0%,
    100% {
        color: #22c55e;
    }

    /* hijau */
    50% {
        color: #f97316;
    }

    /* orange */
}

.blink-my {
    animation: blinkMy 2s infinite;
}

.blink-dompet {
    animation: blinkDompet 2s infinite;
}

input[type="date"],
input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Hilangkan ikon default di input type=date & time */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
    display: none;
}